[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=apps/url-shortener
ExecStart=url-shortener/url-shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=apps/url-shortener/config.env

[Install]
WantedBy=multi-user.target